In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('MasterClass-FinTech01-Data.csv')  # or pd.read_csv() if CSV
df. head()

,monthly_income,avg_monthly_spend,credit_limit,num_transactions,account_tenure_months,cash_withdraw_ratio,late_payment_count,age,region_risk_score,marketing_score,app_login_count,employment_type,debt_to_income,payment_delay_ratio,repayment_issue
0,26867.849400,18963.331725,13797.840243,31,114,0.236576,2,60,0.106796,59.591421,24,self_employed,0.705800,0.062500,1
1,20841.350135,10425.045672,19907.767202,36,64,0.028460,0,20,0.086290,63.392608,16,other,0.500210,0.000000,1
2,28540.385984,9244.744459,23277.396544,45,50,0.330158,0,24,0.438799,62.237803,31,other,0.323918,0.000000,1
3,40506.265408,13339.455402,52088.041939,44,12,0.000000,3,60,0.290462,53.793908,20,self_employed,0.329318,0.066667,1
4,20057.103316,12374.793741,32688.989694,34,107,0.414542,2,39,0.238047,56.238840,12,salaried,0.616978,0.057143,1

In [4]:
df.shape  # rows and columns
df.info()  # data types and non-null counts
df.columns  # all column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   monthly_income         1389 non-null   float64
 1   avg_monthly_spend      1500 non-null   float64
 2   credit_limit           1500 non-null   float64
 3   num_transactions       1500 non-null   int64
 4   account_tenure_months  1500 non-null   int64
 5   cash_withdraw_ratio    1500 non-null   float64
 6   late_payment_count     1500 non-null   int64
 7   age                    1500 non-null   int64
 8   region_risk_score      1500 non-null   float64
 9   marketing_score        1500 non-null   float64
 10  app_login_count        1500 non-null   int64
 11  employment_type        1391 non-null   object
 12  debt_to_income         1500 non-null   float64
 13  payment_delay_ratio    1500 non-null   float64
 14  repayment_issue        1500 non-null   int64
dtypes: float64(8), int64(6), object(1)
memory usage: 175.9+ KB

Index(['monthly_income', 'avg_monthly_spend', 'credit_limit',
       'num_transactions', 'account_tenure_months', 'cash_withdraw_ratio',
       'late_payment_count', 'age', 'region_risk_score', 'marketing_score',
       'app_login_count', 'employment_type', 'debt_to_income',
       'payment_delay_ratio', 'repayment_issue'],
      dtype='object')

In [5]:
# Count missing values
df.isnull().sum()

# Percentage of missing values
(df.isnull().sum() / len(df) * 100).round(2)

monthly_income           7.40
avg_monthly_spend        0.00
credit_limit             0.00
num_transactions         0.00
account_tenure_months    0.00
cash_withdraw_ratio      0.00
late_payment_count       0.00
age                      0.00
region_risk_score        0.00
marketing_score          0.00
app_login_count          0.00
employment_type          7.27
debt_to_income           0.00
payment_delay_ratio      0.00
repayment_issue          0.00
dtype: float64

In [6]:
# Look for empty strings that should be NaN
df. replace('', np.nan, inplace=True)
df.isnull().sum()

monthly_income           111
avg_monthly_spend          0
credit_limit               0
num_transactions           0
account_tenure_months      0
cash_withdraw_ratio        0
late_payment_count         0
age                        0
region_risk_score          0
marketing_score            0
app_login_count            0
employment_type          109
debt_to_income             0
payment_delay_ratio        0
repayment_issue            0
dtype: int64

In [ ]:
# Basic statistics
df.describe()

,monthly_income,avg_monthly_spend,credit_limit,num_transactions,account_tenure_months,cash_withdraw_ratio,late_payment_count,age,region_risk_score,marketing_score,app_login_count,employment_type,debt_to_income,payment_delay_ratio,repayment_issue
16,14689.196225,26398.233776,15807.327441,44,48,0.044773,0,35,0.384546,27.178369,25,self_employed,1.797119,0.000000,1
19,NaN,30771.421192,32633.977526,26,23,0.107547,1,62,0.023244,44.307811,24,salaried,2.000000,0.037037,1
26,NaN,31196.582660,28757.341251,31,69,0.084237,1,52,0.043259,36.476518,18,salaried,2.000000,0.031250,1
49,10881.114359,23204.928043,40906.179690,32,39,0.502770,0,53,0.070102,49.914157,19,salaried,2.000000,0.000000,1
74,7724.110568,16479.846549,20815.193413,39,84,0.073613,2,66,0.349356,48.961709,29,other,2.000000,0.050000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,12190.782014,22717.170876,33090.607280,38,15,0.324625,3,61,0.370544,63.985629,17,salaried,1.863471,0.076923,1
1369,15461.045011,23226.316022,29089.855745,37,99,0.313919,1,30,0.071734,46.784166,17,salaried,1.502247,0.026316,1
1395,23715.215429,78182.957492,16728.495490,34,41,0.000000,0,28,0.110703,69.574103,13,self_employed,2.000000,0.000000,1
1397,NaN,29030.825491,19197.396983,49,53,0.186496,0,22,0.211133,33.958964,25,self_employed,1.944022,0.000000,1
1455,10891.031118,29328.453678,29763.997397,36,82,0.451072,0,41,0.284492,66.114099,20,salaried,2.000000,0.000000,1

In [8]:
df['debt_to_income'].describe()

count    1500.000000
mean        0.698925
std         0.406341
min         0.083774
25%         0.410565
50%         0.604343
75%         0.881098
max         2.000000
Name: debt_to_income, dtype: float64

In [9]:
df[df['debt_to_income'] > 1.5]

,monthly_income,avg_monthly_spend,credit_limit,num_transactions,account_tenure_months,cash_withdraw_ratio,late_payment_count,age,region_risk_score,marketing_score,app_login_count,employment_type,debt_to_income,payment_delay_ratio,repayment_issue
16,14689.196225,26398.233776,15807.327441,44,48,0.044773,0,35,0.384546,27.178369,25,self_employed,1.797119,0.000000,1
19,NaN,30771.421192,32633.977526,26,23,0.107547,1,62,0.023244,44.307811,24,salaried,2.000000,0.037037,1
26,NaN,31196.582660,28757.341251,31,69,0.084237,1,52,0.043259,36.476518,18,salaried,2.000000,0.031250,1
49,10881.114359,23204.928043,40906.179690,32,39,0.502770,0,53,0.070102,49.914157,19,salaried,2.000000,0.000000,1
74,7724.110568,16479.846549,20815.193413,39,84,0.073613,2,66,0.349356,48.961709,29,other,2.000000,0.050000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,12190.782014,22717.170876,33090.607280,38,15,0.324625,3,61,0.370544,63.985629,17,salaried,1.863471,0.076923,1
1369,15461.045011,23226.316022,29089.855745,37,99,0.313919,1,30,0.071734,46.784166,17,salaried,1.502247,0.026316,1
1395,23715.215429,78182.957492,16728.495490,34,41,0.000000,0,28,0.110703,69.574103,13,self_employed,2.000000,0.000000,1
1397,NaN,29030.825491,19197.396983,49,53,0.186496,0,22,0.211133,33.958964,25,self_employed,1.944022,0.000000,1
1455,10891.031118,29328.453678,29763.997397,36,82,0.451072,0,41,0.284492,66.114099,20,salaried,2.000000,0.000000,1

In [10]:
# Count target variable
df['repayment_issue'].value_counts()

# Percentage distribution
df['repayment_issue'].value_counts(normalize=True) * 100

repayment_issue
1    89.266667
0    10.733333
Name: proportion, dtype: float64

In [11]:
# Correlation with target (only numeric columns)
correlation = df.corr()['repayment_issue'].sort_values(ascending=False)
print(correlation)

ValueError: could not convert string to float: 'self_employed'